<form class="user user-login form form-horizontal" action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="video" id="hero">

    <script src="https://platform.vine.co/static/scripts/embed.js"></script>

  </div>

  <div class="login-bars user-login">
    <div class="form-group">
      <div class="col-xs-5">
        <input type="text" class="form-control" id="email" name="user[email]" placeholder="Email">
      </div>

      <div class="col-xs-5">
        <input type="password" class="form-control" name="user[password]" id="password" placeholder="password">
      </div>

      <div class="col-xs-5">
        <button class="btn btn-block btn-default">Log In</button>
        <a href="/users/new" class="btn btn-block btn-default">New User</a>
        <a href="/users/guest" class="btn btn-block btn-default">Guest Login</a>
      </div>

    </div>
  </div>

</form>
