<h1>Log in!</h1>

<form class="user user-login form form-horizontal" action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="video" id="hero">

    <script src="https://platform.vine.co/static/scripts/embed.js"></script>
    <iframe class="vine-embed loaded playing" src="https://vine.co/v/bLZWdFw1hlF/embed/simple" width="540px" height="540px" frameborder="0" loop></iframe>

  </div>

  <img id="logo" src="http://farm1.staticflickr.com/551/18692277976_73ce78935a_b.jpg" alt="Eat memory for dinner">

  <div class="form-group">
    <label for="email" class="col-md-2">Email</label>
    <div class="col-md-8">
      <input type="text" class="form-control" id="email" name="user[email]" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="password" class="col-md-2">Password</label>
    <div class="col-md-8">
      <input type="password" class="form-control" name="user[password]" id="password" placeholder="password">
    </div>
  </div>

  <button class="btn btn-lg default">Log In</button>
</form>


<a class="btn btn-lg btn-default sign-up" href="/users/new">Sign Up!</a>
