<form class="user user-login form form-horizontal" action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="video" id="hero">

    <script src="https://platform.vine.co/static/scripts/embed.js"></script>
    <iframe class="vine-embed loaded playing" src="https://vine.co/v/bLZWdFw1hlF/embed/simple" width="540px" height="540px" frameborder="0" loop></iframe>

  </div>

  <div class="login-bars user-login">
    <div class="form-group">
      <div class="col-md-4">
        <input type="text" class="form-control" id="email" name="user[email]" placeholder="Email">
      </div>

      <div class="col-md-4">
        <input type="password" class="form-control" name="user[password]" id="password" placeholder="password">
      </div>
      <button class="btn btn-lg default">Log In</button>
      <a href="/users/new" class="btn btn-lg btn-default">New User</a>
    </div>
  </div>

</form>
