<div class="subreddit-show">
  <h1><%= model.escape('title') %></h1>
  <table class="posts table table-striped">
    <thead>
      <tr>
        <th>Posts</th>
        <th>Votes</th>
      </tr>
    </thead>
    <tbody class="posts-table"></tbody>
  </table>
</div>
