<div class="subreddit-show">
  <h1><%= model.escape('title') %></h1>
  <table class="posts table">
    <thead>
      <tr>
        <th style="color: white;">Posts</th>
        <th style="color: white;">Votes</th>
      </tr>
    </thead>
    <tbody class="posts-table"></tbody>
  </table>
</div>
