<form class="new-forum form-inline">

  <div class="form-inline">
    <div class="input-group input-group-lg">
      <label for="title">Title</label>
      <input class="form-control" type="text" id="title" name="sub[title]" placeholder="Title">
    </div>
  </div>
  <div class="form-inline">
    <div class="input-group input-group-lg">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="sub[description]" placeholder="Description"></textarea><br>
    </div>
  </div>
  <input type="hidden" name="sub[moderator_id]" value="<%=$('#current-user').data('id')%>">
  <input type="submit" class="btn btn-lg" style="color: black;" value="Create Dat Sub">


</form>
