<div class="forum-index">
    <h1 class="page-header">Welcome to the Devour.Space Forum. Coming Soon.</h1><br>
    <a href="#/forum/subs/new" style="color: white;"><span>Create a New Subforum</span></a>
    <ul class="subforums">

    </ul>

</div>
