<h1 class="main-header">Create a new deck for us to Devour!! I'm hungry!</h1>

<form class="deck new-deck deck-form form-inline" id="deck-form" action="/api/decks/" method="post">
  <input type="hidden" name="deck[owner_id]" value="<%= $('div#current-user').data('id') %>">
  <div class="form-inline">
    <div class="input-group input-group-lg">
      <label for="title">Title</label>
      <input type="text" name="deck[title]" class="form-control" placeholder="Title">
    </div>
  </div>
  <div class="form-inline">
    <div class="input-group input-group-lg">
      <label for="course-id">Course ID</label>
      <input id="course-id" type="integer" name="deck[course_id]" class="form-control" placeholder="Course ID">
    </div>
  </div>
  <br>

  <div class="col-md-12" role="group">
    <div class="input-group">
      <span class="input-group-addon">Public
        <input type="radio" name="deck[public]" class="input-lg" value="true" checked></input>
      </span>
    </div>
    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" name="deck[public]" class="input-lg" value="false">Private</input>
      </span>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-default btn-lg btn-confirm-create-deck">Create Your New Deck. Go Study.</button>

</form>
