<h1 class="main-header">Create a new deck for us to Devour!! I'm hungry!</h1>

<form class="deck new-deck deck-form form-inline" id="deck-form" action="/api/decks/" method="post">
  <input type="hidden" name="deck[owner_id]" value="<%= $('div#current-user').data('id') %>">
  <div class="form-inline">
    <div class="input-group input-group-lg">
      <label for="title">Title</label>
      <input type="text" name="deck[title]" class="form-control" placeholder="Title">
    </div>
  </div>
  <div class="form-inline">
    <div class="input-group input-group-lg">
      <label for="title">Course ID</label>
      <input type="integer" name="deck[course_id]" class="form-control" placeholder="Course Id">
    </div>
  </div>
  <br>

  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group">
      <button type="radio" name="deck[public]" class="btn btn-default" value="true" checked>Public</button>
    </div>
    <div class="btn-group">
      <button type="radio" name="deck[public]" class="btn btn-default" value="false">Private</button>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-default btn-lg btn-confirm-create-deck">Create Your New Deck. Go Study.</button>

</form>
