<aside class="col-md-2 quiz-sizebar">
  <h2 class="col-lg-12 col-md-12 sidebar-header"><%= deck.escape('title') %></h2>
  <div class="row">
    <button type="button" class="btn btn-default go-to-data col-md-8">See your data!</button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-default go-to-add-cards col-md-8">Add Cards</button>
  </div>
</aside>

<ul class="deck cards-list cards-show quiz quiz-index col-md-5" id="quiz"></ul>
