<h2 class="main-header"><%= deck.escape('title') %></h2>
<ul class="deck cards-list cards-show quiz quiz-index" id="quiz">
<!-- <canvas id="myChart" width="400" height="400"></canvas> -->
<!-- // Get the context of the canvas element we want to select
var ctx = document.getElementById("myChart").getContext("2d"); -->

</ul>
