<h1>Sign Up!</h1>

<form class="user user-signup" action="/users/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"

  <label for="email">Email</label>
  <input type="text" class='jumbotron' id="email" name="user[email]" value="Email">

  <label for="password">Password</label>
  <input type="password" class="jumbotron" name="user[password]" id="password">

  <button type="submit" class="btn btn-primary btn-lg">Sign Up!</button>

</form>
