<h1>Welcome, New user. Sign Up!</h1>

<form class="user user-signup form form-horizontal" action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <img id="logo" src="http://farm1.staticflickr.com/551/18692277976_73ce78935a_b.jpg" alt="Eat memory for dinner">

  <div class="form-group">
    <% if flash[:errors] %>
    <div class="alert alert-danger email-error"><span><%= flash[:errors] %></span></div>
    <% end %>
    <label for="email" class="col-md-2">Email</label>
    <div class="col-md-8">
      <input type="text" class="form-control" id="email" name="user[email]" placeholder="Email">
    </div>
  </div>

    <label for="password" class="col-md-2">Password</label>
    <div class="col-md-8">
      <input type="password" class="form-control" name="user[password]" id="password" placeholder="password">
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Sign Up!</button>

</form>
