<form class="form form-horizontal" action="#">
  <input type="hidden" name="message[receiver_id]" value="<%=receiver%>">

  <span>Spill Your Heart Out</span>
  <label for="message-body">Body</label>
  <textarea name="message[body]" rows="8" cols="40" placeholder="Your Message....."></textarea>
  <button type="submit" class="btn btn-primary" name="button"></button>


</form>
