<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" id="dropdown-button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#devour-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation/Make this actually toggle a dropdown</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="devour-navbar-collapse">
      <a class="navbar-brand col-xs-3" href="/">
        <img id="brand" src="http://farm1.staticflickr.com/551/18692277976_73ce78935a_b.jpg" height="225%" width="100" alt="Eat memory for dinner">
      </a>
      <% if (currentUser) { %>
      <ul class="nav navbar-nav col-xs-6">
        <div class="row">
          <li class="col-md-2 col-xs-12 nav-link"><a class="navbar-link navbar-btn" style="text-align: center;" href="#">Collection</a></li>
          <li class="col-md-1 col-xs-12 nav-link"><a class="navbar-link navbar-btn" style="text-align: center;" href="#/publicIndex">Public Decks</a></li>
          <li class="col-md-2 col-xs-12 nav-link"><a class="navbar-link navbar-btn" style="text-align: center; margin-left: 10%;" href="#/decks/new">Create</a></li>
          <li class="col-md-2 col-xs-12 nav-link"><a class="navbar-link navbar-btn" style="text-align: center;" href="#/search">Search</a></li>
          <li class="col-md-2 col-xs-12 nav-link"><a class="navbar-link navbar-btn" style="text-align: center;" href="#/leaderboard">Leaders</a></li>
          <li class="col-md-1 col-xs-12 nav-link"><a class="navbar-link navbar-btn" style="text-align: center; margin-right: 7%;" href="#/usersIndex">Users</a></li>
          <li class="col-md-2 col-xs-12 nav-link"><a class="navbar-link navbar-btn" style="text-align: center; margin-left: 10%;" href="#/forum">Forum</a></li>
        </div>
      </ul>
      <% } else { %>
      <ul class="nav navbar-nav col-xs-6">
        <li id="slogan-list-item" class="col-xs-offset-3 col-xs-6"><span id="slogan" class="navbar-brand">Memorization. Made Easy. Get Your Full.</span></li>
      </ul>
      <% } %>

      <ul class="nav navbar-nav navbar-right">
        <% if (currentUser) { %>
          <li>
            <a id="sign-out" href="#/signOut" class="sign-out btn navbar-btn">Sign Out</a>
          </li>
        <% } else { %>
          <li><a href="/session/new">Log in</a></li>
          <li><a href="/users/new">Sign up</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
