<nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" id="dropdown-button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#devour-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation/Make this actually toggle a dropdown</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="http://farm1.staticflickr.com/551/18692277976_73ce78935a_b.jpg" height="42" width="42" alt="Eat memory for dinner">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="devour-navbar-collapse-1">
      <% if (currentUser) { %>
      <ul class="nav navbar-nav">
        <li><a href="#">Decks</a></li>
        <li><a href="#/decks/new">Create</a></li>
        <li><a href="#/search">Search</a></li>
        <li><a href="#/publicIndex">PUBLIC DIRECTORY</a></li>
        <li><a href="#/leaderboard">Leaderboard</a></li>
        <li><a href="#/usersIndex">Contact Users</a></li>
        <li><a href="#/messages">Messages</a></li>
        <li><a href="#/forum">Forum</a></li>
      </ul>
      <% } else { %>
      <ul class="nav navbar-nav slogan">
        <li><h1 class="text-center navbar-brand">Memorization. Made Easy. Get Your Full.</h1></li>
      </ul>
      <% } %>

      <ul class="nav navbar-nav navbar-right">
        <% if (currentUser) { %>
          <li>
            <a id="sign-out" href="#/signOut" class="sign-out btn navbar-btn">Sign Out</a>
          </li>
        <% } else { %>
          <li><a href="/session/new">Log in</a></li>
          <li><a href="/users/new">Sign up</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
