<form class="new-card create-card" action="#" method="post">
  <div class="form-group has-error"></div>

  <div class="question-box">
    <label for="question">Question</label>
    <textarea class="" rows="6" name="card[question]" placeholder="Question of Yo Choice!"></textarea>
  </div>
  <div class="answer-box">
    <label for="answer">Answer</label>
    <textarea class="" rows="6" name="card[answer]" placeholder="Answer of Yo Damn Choice!"></textarea>
  </div>
  <input type="hidden" name="card[deck_id]" value="<%= card.get('deck_id') %>">
  <input id="create-card" type="submit" class="confirm create-card create-card-form create-card-button btn btn-success" value="Create Card"><br>

</form>
