<% if (!card) {  %>

  <div class="try-again quiz-done">
    <button class="btn btn-xxlarge btn-danger">TRY AGAIN!!!!!!</button>
  </div>

<% } else { %>

  <div class="card-show">
    <div id="active-card" href="#" class="card deck-show card-question" data-id="<%= card.id %>">
      <div class="container entire-card" id="entire-card">
        <h1 class="question card-question card-show quiz-show quiz col-xs-12 panel-body">
          <%= card.escape('question') %>
        </h1>
        <button type="submit" class="btn btn-lg btn-block btn-primary btn-reveal">Reveal Answer</button>
        <button type="submit" class="btn btn-lg btn-block edit-card edit-button">Edit Card</button>
        <div class="card answer-box"></div>
      </div>
    </div><br>
  </div>
<% } %>
