// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-reveal {
  display: block;
  clear: both;
}

form.new-card {
  width: 330%;
  // height: 265%;
}

form.new-card * {
  display: block;
}

.new-card textarea {
  display: block;
  margin-bottom: 2%;
  width: 25%;
}

#create-card {
  width: 25%;
}

.two-way-question {
  background: snow;
}
