.deck-list button.btn-primary {
  background-color: cadetblue;
}


button.delete-deck {
  float: right;
}

.deck-list-item-background {
  background: snow;
  opacity: 0.9;
  padding: 3px;
}

.deck-list-item {
  padding: 5px;
}
