body {
  background: url("https://c4.staticflickr.com/4/3016/5836154940_5af67bc63d_b.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 30px;
  opacity: 0.9;
  padding-top: 85px;
}

h1 {
  // display: relative;
}

small.answer {
  display: block;
  font-size: 64px;
}

h1.main-header {
  margin-top: 10%;
  // font-size: ;
}

h2.main-header {
  margin-top: 10%;
}

form {
  position: relative;
  text-align: center;
  background: white;
  position: relative;
  text-align: center;
  padding: 10px;
  margin-bottom: 25px;
}

form:first-child {
  margin-top: 12%;
}

img#logo {
  height: 150px;
  margin-bottom: 25px;
}

form.log-out {
  position: absolute;
  top: -25%;
}

div.card-item {
  margin-right: 25%;
}

button.delete-deck {
  float: right;
}

// #quiz {
//   display: block;
//   position: fixed;
//   margin-left: auto;
//   margin-right: auto;
//   // clear: both;
// }
