body {
  background: url('http://cdn.wall-pix.net/albums/entertainment-humour/00004151.Cookie.Monster.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form {
  position: relative;
  text-align: center;
  margin-top: 18%;
}
