.navbar-nav a {
  margin-right: 20px;
  font-size: large;
}

span#slogan {
  margin-left: 23px;
}

ul.slogan {
  padding-top: 2%;
  margin-left: 25%;
}

#sign-out {
  padding-top: 6px;
}

img#brand {
  margin-top: -8%;
}
