<div class="post-show col-md-12">
  <h2 class="page-header" id="main-post"><%= post.escape('title') %></h2>
  <h3><a href="<%=post.escape('url')%>"><%=post.escape('url')%></a></h3>
  <p><%= post.escape('content') %></p>

  <div class="comments" style="color: initial;">
    <h3><a href="#" class="leave-comment">Leave A Comment!</a></h3>
  </div>
</div>
