<div class="panel panel-default leaderboard">
  <div class="panel-heading">
    <h1>You will NEVER catch me... :)</h1>
    <h2>Formula for Leaderboard: Score = 500 x owned_decks + 300 x Total Responses To Cards</h2>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>User (by email)</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody class="leaderboard"></tbody>
  </table>
</div>
