<div class="panel panel-default leaderboard">
  <div class="panel-heading">
    <h1>You will NEVER catch me... :)</h1>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>User (by email)</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <% _(leaderboard.attributes.users).each(function(user) { %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.score %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
