<div class="search" id="search">

  <div class="form-group">
    <label for="search-by-title">Search For Decks By Title</label>
    <textarea type='text' name="title" id="search-by-title" class="form-control"></textarea>
  </div>

  <ul class="deck-list"></ul>

</div>
